{% load static %}
<script src="{% static 'auth/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'auth/assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'auth/assets/vendors/jquery-circle-progress/js/circle-progress.min.js' %}"></script>
<script src="{% static 'auth/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'auth/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'auth/assets/js/misc.js' %}"></script>
<script src="{% static 'auth/assets/js/dashboard.js' %}"></script>

<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove();
        });

        $("#remove").fadeTo(300, 0).slideUp(300, function(){
            $(this).remove();
        });

    }, 10000);

</script>