{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'auth:dashboard' %}">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    {% if request.user.is_staff %}

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="icon-bg"><i class="mdi mdi-crosshairs-gps menu-icon"></i></span>
        <span class="menu-title">Accounts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:create_account' %}">Create Account</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:manage_accounts' %}">Manage Accounts</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
        <span class="menu-title">Manage Promotions</span>
      </a>
    </li>

    {% elif request.user.is_dept %}

    {% comment %} NOTICE {% endcomment %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-notice" aria-expanded="false" aria-controls="ui-notice">
        <span class="icon-bg"><i class="mdi mdi-table-large menu-icon"></i></span>
        <span class="menu-title">Notice</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-notice">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:create_notice' %}">Create Notice</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:manage_notice' %}">Manage Notice</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'auth:manage_leaves' %}">
        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
        <span class="menu-title">Manage Leaves</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'auth:manage_lecturers' %}">
        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
        <span class="menu-title">Manage Lecturers</span>
      </a>
    </li>

    {% else %}

    {% comment %} PROMOTION {% endcomment %}

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-promotion" aria-expanded="false" aria-controls="ui-promotion">
        <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
        <span class="menu-title">Promotions</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-promotion">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Apply Promotion</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Manage Promotion</a></li>
        </ul>
      </div>
    </li>

    {% comment %} LEAVE {% endcomment %}
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-leave" aria-expanded="false" aria-controls="ui-leave">
        <span class="icon-bg"><i class="mdi mdi-format-list-bulleted menu-icon"></i></span>
        <span class="menu-title">Leave</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-leave">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:apply_leave' %}">Apply Leave</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'auth:manage_leaves' %}">Manage Leave</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'auth:manage_notice' %}">
        <span class="icon-bg"><i class="mdi mdi-chart-bar menu-icon"></i></span>
        <span class="menu-title">View Notice</span>
      </a>
    </li>
    {% endif %}

    <li class="nav-item sidebar-user-actions">
      <div class="user-details">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <div class="d-flex align-items-center">
              <div class="sidebar-profile-img">
                <img src="{{ request.user.pics.url }}" width="30" alt="image">
              </div>
              <div class="sidebar-profile-text">
                <p class="mb-1">
                  {% if request.user.is_staff %}
                    System admin
                  {% elif request.user.is_central %}
                    Central admin
                    {% elif request.user.is_dean %}
                    Dean office
                    {% elif request.user.is_hod %}
                    HOD office
                    {% elif request.user.is_dept %}
                    Dept. Admin
                    {% else %}
                    Lecturer
                  {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a data-toggle="modal" data-target="#basicModal" style="cursor: pointer;" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a>
      </div>
    </li>
  </ul>
</nav>