{% load static %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'auth/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/assets/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'auth/assets/vendors/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" href="{% static 'auth/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'auth/assets/css/style.css' %}">
<!-- End layout styles -->
<link rel="shortcut icon" href="{% static 'auth/assets/images/favicon.png' %}" />