{% load static %}

<head>
    <meta charset="utf-8">

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'basic/plugins/bootstrap/bootstrap.min.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static 'basic/plugins/themify-icons/themify-icons.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static 'basic/plugins/slick/slick.css' %}">
    <!-- venobox popup -->
    <link rel="stylesheet" href="{% static 'basic/plugins/Venobox/venobox.css' %}">
    <!-- aos -->
    <link rel="stylesheet" href="{% static 'basic/plugins/aos/aos.css' %}">

    <!-- Main Stylesheet -->
    <link href="{% static 'basic/css/style.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'auth/assets/images/logos/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'auth/assets/images/logos/favicon.png' %}" type="image/x-icon">

</head>
