{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Manage Account{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

    <div class="container-scroller">

    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}

      <div class="container-fluid page-body-wrapper">

        {% include 'partials/auth_sidebar.html' %}

        <div class="main-panel">
          <div class="content-wrapper">

            {% include 'partials/messages.html' %}

            <div class="page-header">
              <h3 class="page-title"> Manage accounts </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'auth:create_account' %}">create_account</a></li>
                  <li class="breadcrumb-item active" aria-current="page">manage accounts</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Accounts</h4>
                    <p class="card-description"> The record below contains all system users</code>
                    </p>
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th> Picture </th>
                          <th> Name </th>
                          <th> Email </th>
                          <th> userType </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>


                        {% for object in object_list %}
                        <tr>
                          <td class="py-1">
                            <img src="{{ object.pics.url }}" width="60" alt="image" />
                          </td>
                          <td> {{ object.name}} </td>
                          <td> {{ object.email}} </td>
                          <td>
                            <label class="badge badge-info">
                            {% if object.is_staff %}
                              System admin
                            {% elif object.is_central %}
                              Central admin
                              {% elif object.is_dean %}
                              Dean office
                              {% elif object.is_hod %}
                              HOD office
                              {% elif object.is_dept %}
                              Dept. Admin
                              {% else %}
                              Lecturer
                            {% endif %}
                            </label>
                          </td>
                          <td>
                            <button type="button" class="btn btn-inverse-danger btn-rounded btn-icon">
                              <i class="mdi mdi-delete-forever"></i>
                            </button>
                          </td>
                        </tr>

                        {% endfor %}



                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->

          {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {% block script %} {% include 'partials/auth_script.html' %} {% endblock %}

  {% endblock %}