{% extends 'base.html' %}

{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

<div class="container-scroller">

  {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    {% include 'partials/auth_sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          {% include 'partials/messages.html' %}

          <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="d-sm-flex justify-content-between align-items-center transaparent-tab-border {">
                <div class="row">


                  {% if request.user.is_staff %}

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ lec }}</h2>
                        <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of Lecturer</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{dept}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of Department</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{users}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total System Users</p>
                      </div>
                    </div>
                  </div>

                  {% elif request.user.is_dept %}
                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ lec }}</h2>
                        <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of Lecturer</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{notice}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. Applied Notice</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{leaves}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total Approved Leaves</p>
                      </div>
                    </div>
                  </div>

                  {% elif request.user.is_hod %}

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{a_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{d_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of disapproved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ t_pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  {% elif request.user.is_dean %}

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{a_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{d_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of disapproved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ t_pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  {% elif request.user.is_central %}

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{a_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{d_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of disapproved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ t_pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  {% else %}

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ a_leave }}</h2>
                        <div class="dashboard-progress dashboard-progress-1 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-account-circle icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of approved leaves</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{d_leave}}</h2>
                        <div class="dashboard-progress dashboard-progress-2 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-cube icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">No. of disapproved leaves</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3  col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{ a_pro }}</h2>
                        <div class="dashboard-progress dashboard-progress-3 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total approved promotion application</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-sm-6 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body text-center">
                        <h2 class="mb-4 text-dark font-weight-bold">{{p_pro}}</h2>
                        <div class="dashboard-progress dashboard-progress-4 d-flex align-items-center justify-content-center item-parent"><i class="mdi mdi-chart-bar icon-md absolute-center text-dark"></i></div>
                        <p class="mt-4 mb-0">Total Pending promotion application</p>
                      </div>
                    </div>
                  </div>

                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

  {% block script %} {% include 'partials/auth_script.html' %} {% endblock %}
  {% include "partials/modal_logout.html" %}

{% endblock %}
