{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Manage Promotion{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

    <div class="container-scroller">

    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}

      <div class="container-fluid page-body-wrapper">

        {% include 'partials/auth_sidebar.html' %}

        <div class="main-panel">
          <div class="content-wrapper">

            {% include 'partials/messages.html' %}

            <div class="page-header">
              <h3 class="page-title"> Manage promotion </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">dashboard</a></li>
                  {% if request.user.is_dept or request.user.is_central or request.user.is_dean or request.user.is_staff or request.user.is_hod %}
                  {% else %}
                  <li class="breadcrumb-item"><a href="{% url 'auth:apply_promotion' %}">apply promotion</a></li>

                  {% endif %}

                  <li class="breadcrumb-item active" aria-current="page">manage promotion</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">

                    {% if request.user.is_staff %}
                    <h4 class="card-title">All applications</h4>
                    <p class="card-description"> The record below contains Lecturer applying for promotion</p>

                    {% elif request.user.is_dept or request.user.is_central or request.user.is_dean or request.user.is_hod %}
                    <h4 class="card-title">Applications for your review and approval</h4>
                    <p class="card-description"> The record below contains Lecturer applying for promotion</p>
                    {% else %}
                    <h4 class="card-title">My Promotion Application</h4>
                    <p class="card-description"> The record below contains your applied promotion</p>
                    {% endif %}
                    <table class="table table-striped table-hover table-responsive">
                      <thead>
                        <tr>
                          <th> Lecturer </th>
                          <th> Applying Position </th>
                          <th> Current Grade </th>
                          {% if request.user.is_dept or request.user.is_central or request.user.is_dean or request.user.is_hod %}
                          <th> Department </th>

                          {% else %}

                          <th> Dept Admin </th>
                          <th class="text-center"> HOD </th>
                          <th> Dean </th>
                          <th> Central Admin </th>
                          {% endif %}
                          <th class="text-center"> {% include 'partials/approve.html' %} </th>

                        </tr>
                      </thead>
                      <tbody>

                        {% for object in object_list %}

                          <td> {{ object.lecturer.user_id.name}} </td>
                          <td> {{ object.position.position_title}} </td>
                          <td class="text-center"> {{ object.lecturer.grade_point}} </td>
                          {% if request.user.is_dept or request.user.is_central or request.user.is_dean or request.user.is_hod or request.is_staff %}
                          <td> {{ object.lecturer.user_id.department }} </td>

                          {% else %}
                          <td class="text-center">

                            {% if object.dept_approval %}
                            <label class="badge badge-info">
                              approved
                            </label>
                            {% elif object.is_pending %}
                            <label class="badge badge-info">
                              in Review
                            </label>
                            {% else %}
                            <label class="badge badge-info" style="cursor: pointer;" data-toggle="modal"  data-target="#dept_reason{{forloop.counter}}">
                              disapproved view reason
                            </label>
                            {% endif %}
                          </td>

                          <td class="text-center">
                            {% if object.hod_approval %}
                            <label class="badge badge-info">
                              approved
                            </label>
                            {% elif object.is_pending and object.dept_approval %}
                            <label class="badge badge-info">
                              in Review
                            </label>
                            {% elif not object.dept_approval %}
                            <label class="badge badge-info">
                              Precluded
                            </label>
                            {% else %}
                            <label class="badge badge-info" style="cursor: pointer;" data-toggle="modal"  data-target="#hod_reason{{forloop.counter}}">
                              disapproved view reason
                            </label>
                            {% endif %}
                          </td>

                          <td class="text-center">
                            {% if object.dean_approval %}
                            <label class="badge badge-info">
                              approved
                            </label>
                            {% elif object.is_pending and object.hod_approval %}
                            <label class="badge badge-info">
                              in Review
                            </label>
                            {% elif not object.hod_approval %}
                            <label class="badge badge-info">
                              Precluded
                            </label>
                            {% else %}
                            <label class="badge badge-info" style="cursor: pointer;" data-toggle="modal"  data-target="#dean_reason{{forloop.counter}}" >
                              disapproved view reason
                            </label>
                            {% endif %}
                          </td>

                          <td class="text-center">
                            {% if object.central_approval %}
                            <label class="badge badge-info">
                              approved
                            </label>
                            {% elif object.is_pending and object.dean_approval %}
                            <label class="badge badge-info">
                                in Review
                            </label>
                            {% elif not object.dean_approval %}
                            <label class="badge badge-info">
                              Precluded
                            </label>
                            {% else %}
                            <label class="badge badge-info" style="cursor: pointer;" data-toggle="modal"  data-target="#central_reason{{forloop.counter}}">
                              disapproved view reason
                            </label>
                            {% endif %}
                          </td>


                          {% endif %}

                          <td>

                            {% if request.user.is_dept or request.user.is_hod or request.user.is_dean or request.user.is_central %}

                                <button type="button" class="btn btn-info btn-icon-text btn-sm" data-toggle="modal"  data-target="#detailsModal{{forloop.counter}}"> Approve </button>
                                <button type="button" class="btn btn-info btn-icon-text btn-sm" data-toggle="modal"  data-target="#disapproveModal{{forloop.counter}}"> DisApprove </button>


                              <div class="modal fade" id="disapproveModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog" id="uploadDialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Disapprove Promotion
                                      </h5>
                                      <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                      </button>
                                    </div>
                                    <form action="{% url 'auth:disapprove_pro' object.pk %}" method="post">
                                      <div class="modal-body">
                                        <p><b>Reason for Disapproval: </b></p>
                                        <textarea name="disapprove" required cols="30" rows="10" class="form-control"></textarea>
                                        {% csrf_token %}
                                      </div>
                                      <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <button class="btn btn-info" type="submit">Disapprove</button>
                                      </div>

                                    </form>
                                  </div>
                                </div>
                              </div>

                              <div class="modal fade" id="detailsModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog" id="uploadDialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Promotion Details
                                      </h5>
                                      <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                      </button>
                                    </div>
                                      <div class="modal-body">
                                        <p><b>Name: </b> {{ object.lecturer.user_id.name}}</p>
                                        <p><b>Position Applying: </b> {{ object.position.position_title }} </p>
                                        <p><b>Applying Position Grade: </b> {{ object.position.position_grade }} </p>
                                        <hr>
                                        <p><b>Department: </b> {{ object.lecturer.user_id.department }} </p>
                                        <p><b>Current Grade: </b> {{ object.lecturer.grade_point }} </p>
                                        <p><b>Current Qualifcation: </b> {{ object.lecturer.lec_qua.qua_title }} {{ object.lecturer.lec_qua.qua_abbr }}</p>
                                        <p><b>Employment Date: </b> {{ object.lecturer.employment_date }} </p>
                                        <p><b>Current Position: </b> {{ object.lecturer.position.position_title }} </p>
                                        <hr>
                                        <p><b>NB: Action is not reversable </b></p>
                                        {% csrf_token %}
                                      </div>
                                      <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'auth:approve_pro' object.pk %}" class="btn btn-success text-white">Approve</a>
                                      </div>
                                  </div>
                                </div>
                              </div>

                            {% else %}
                              <div class="row">

                                <button type="button" class="btn btn-danger btn-icon-text btn-sm" data-toggle="modal"  data-target="#deleteModal{{forloop.counter}}">
                                  <i class="mdi  mdi-delete-forever btn-icon-prepend"></i> Delete </button>
                              </div>
                              <div class="modal fade" id="deleteModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog" id="uploadDialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">delete Application?
                                      </h5>
                                      <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                      </button>
                                    </div>
                                    <form method="post" action="{% url 'auth:delete_promotion' object.pk %}">
                                      <div class="modal-body">
                                        <p>Are you sure you want to delete application?</p>
                                        {% csrf_token %}
                                      </div>
                                      <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-success text-white">Delete</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            {% endif %}

                            <!-- Disapproval reasons -->
                            <div class="modal fade" id="dept_reason{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Disapproval Reasons
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                    <div class="modal-body">
                                      <p><b>Reason for disapproval </b></p>
                                      <p>{{ object.dept_disapproval_reason }} </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="modal fade" id="hod_reason{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Disapproval Reasons
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                    <div class="modal-body">
                                      <p><b>Reason for disapproval </b></p>
                                      <p>{{ object.hod_disapproval_reason }} </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="modal fade" id="dean_reason{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Disapproval Reasons
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                    <div class="modal-body">
                                      <p><b>Reason for disapproval </b></p>
                                      <p>{{ object.dean_disapproval_reason }} </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="modal fade" id="central_reason{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Disapproval Reasons
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                    <div class="modal-body">
                                      <p><b>Reason for disapproval </b></p>
                                      <p>{{ object.central_disapproval_reason }} </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                              </div>
                            </div>

                          </td>

                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->

          {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {% block script %} {% include 'partials/auth_script.html' %} {% endblock %}
    {% include "partials/modal_logout.html" %}

  {% endblock %}