{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}
{% block title %}Manage Leave{% endblock title %}

{% block head %}{% include 'partials/auth_head.html' %}{% endblock head %}

{% block body %}

    <div class="container-scroller">

    {% block nav %}{% include 'partials/auth_nav.html' %}{% endblock nav %}

      <div class="container-fluid page-body-wrapper">

        {% include 'partials/auth_sidebar.html' %}

        <div class="main-panel">
          <div class="content-wrapper">

            {% include 'partials/messages.html' %}

            <div class="page-header">
              <h3 class="page-title"> Manage leave </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'auth:dashboard' %}">dashboard</a></li>

                  {% if not request.user.is_dept %}
                  <li class="breadcrumb-item"><a href="{% url 'auth:apply_leave' %}">apply_leave</a></li>
                  {% endif %}

                  <li class="breadcrumb-item active" aria-current="page">manage leave</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Leaves</h4>
                    <p class="card-description"> The record below contains all your requested leave </p>
                    <table class="table table-striped table-hover table-responsive">
                      <thead>
                        <tr>
                          <th> Picture </th>
                          <th> Name </th>
                          <th> Start date</th>
                          <th> End date</th>
                          <th> reason </th>
                          <th> Status </th>
                          <th> Details </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for object in object_list %}
                        <tr>
                          <td class="py-1">
                            <a  {% if not request.user.is_dept %} href="{% url 'auth:edit_leave' object.pk %}"
                            {% endif %}>
                              <img src="{{ object.user.pics.url }}" width="60" alt="image" />
                            </a>
                          </td>
                          <td> {{ object.user.name}} </td>
                          <td> {{ object.start_date}} </td>
                          <td> {{ object.end_date}} </td>
                          <td>
                            <label class="badge badge-info">
                              {{ object.reason}}
                            </label>
                          </td>
                          <td>
                            <label class="badge badge-primary">
                              {{ object.dept_approval}}
                            </label>
                          </td>
                          <td>
                            <a style="cursor: pointer;" data-toggle="modal" data-target="#detailsModal{{forloop.counter}}">
                              {{ object.details|truncatechars:20 }}
                            </a>

                            <div class="modal fade" id="detailsModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Leave Details
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                    <div class="modal-body">
                                      <p class="text-wrap">
                                        {{ object.details }}
                                      </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </td>

                          <td>
                            {% if request.user.is_dept %}
                            <div class="row">
                              <div class="col-6">
                                <form method="post" action="{% url 'auth:approve_leave' object.pk 'approve' %}">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-inverse-primary btn-rounded btn-icon">
                                    <i class="mdi mdi-calendar-multiple-check"></i>
                                  </button>
                                </form>
                              </div>
                              <div class="col-6">
                                <form method="post" action="{% url 'auth:approve_leave' object.pk 'disapprove' %}">
                                  {% csrf_token %}
                                  <button type="submit" class="btn btn-inverse-danger btn-rounded btn-icon">
                                    <i class="mdi mdi-calendar-multiple-check"></i>
                                  </button>
                                </form>
                              </div>
                            </div>

                            {% else %}
                            <button type="button" class="btn btn-inverse-danger btn-rounded btn-icon" data-toggle="modal" data-target="#deleteModal{{forloop.counter}}">
                              <i class="mdi mdi-delete-forever"></i>
                            </button>

                            <div class="modal fade" id="deleteModal{{forloop.counter}}" style="display: none;" aria-hidden="true">
                              <div class="modal-dialog" id="uploadDialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">delete leave
                                    </h5>
                                    <button type="button" class="close btn btn-secondary" data-dismiss="modal"><span>×</span>
                                    </button>
                                  </div>
                                  <form method="post" action="{% url 'auth:delete_leave' object.pk %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                      <p>Are you sure you want to delete requested leave</p>
                                      <p><b>NB: The process is non-reversal</b> </p>
                                    </div>
                                    <div class="modal-footer">
                                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-success text-white">Delete leave</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            {% endif %}

                          </td>
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->

          {% block footer %}{% include 'partials/auth_footer.html' %}{% endblock footer %}

        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    {% block script %} {% include 'partials/auth_script.html' %} {% endblock %}
    {% include "partials/modal_logout.html" %}

  {% endblock %}